<div class="d-flex justify-content-between align-items-center mb-3 nav_lecture">
    <button type="button" id="callback_btn" class="btn btn-secondary" onclick="callback('/admin/product')">
        BACK
    </button>

    <div class="note_content">
        <i class="fa-solid fa-file curr_note"></i>
        Ghi chú
    </div>


</div>

<div class="container-fluid light-style flex-grow-1 container-p-y lecture_page">
    <div class="lecture_card">
        <div class="lecture_video">
            <iframe width="100%" id="lecture_link" height="100%"
                src="https://www.youtube.com/embed/OH4juvq6Wgg?si=dNzLwZ36irFb-cce" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- //TODO: sửa lại thành form -->
        <div class="d-flex justify-content-between align-items-center mb-3 lecture_modified">
            <div class="des_content">
                <h1 class="title"> HTML CSS BASIC</h1>
                <p>Loreictaus coolestiae.</p>
            </div>
            <div class="take_note">
                <i class="fa-solid fa-file-pen new_note"></i>
                thêm ghi chú tại 00:00
            </div>
        </div>
        <div class="panel_content">
            <!-- Tabs Section -->

            <i data-bs-toggle="offcanvas" data-bs-target="#section_bar" aria-controls="offcanvasScrolling"
                class="fa-solid fa-list menu_icon"></i>
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="section_bar" aria-labelledby="section_barLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="section_barLabel">Colored with scrolling</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                </div>
            </div>
        </div>
    </div>
</div>

