<% var feature=data.feature%>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="modal-logout" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-logout">Đăng Xuất</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn đăng xuất ? <strong id="id"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                        id="confirm">Có</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>



    <% if (feature) { %>
        <div class="modal fade" id="addstaffModal" tabindex="-1" aria-labelledby="modal-add-staff" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="addstaffForm" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-add-staff">ADD NEW STAFF</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="resetModal('addstaffForm')"></button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3">
                                <label for="fullname" class="col-form-label">Full name:</label>
                                <input type="text" class="form-control" id="fullname" name="fullname">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="role" id="admin_account"
                                        value="manager">
                                    <label class="form-check-label" for="option1">Manager</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="role" id="staff_account"
                                        value="staff">
                                    <label class="form-check-label" for="option2">Staff</label>
                                </div>
                            </div>
                            <div class="mb-3" id="roleBlock" style="display: none;">
                                <% feature.forEach((role)=> { %>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="<%=role.access%>"
                                            name="access" value="<%=role.access%>">
                                        <label class="form-check-label" for="<%=role.access%>">
                                            <%=role.access%>
                                        </label>
                                    </div>
                                    <% }); %>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="resetModal('addstaffForm')">Close</button>
                            <button type="submit" id="confirm_add_staff" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>



    <div class="modal fade" id="addproductModal" tabindex="-1" aria-labelledby="modal-add-product"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addproductForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-add-product">ADD NEW PRODUCT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="resetModal('addproductForm')"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="productname" class="col-form-label">Product name:</label>
                            <input type="text" class="form-control" id="productname" name="productname">
                        </div>
                        <div class="mb-3">
                            <label for="importprice" class="col-form-label">Import Price:</label>
                            <input type="text" class="form-control" id="importprice" name="importprice">
                        </div>
                        <div class="mb-3">
                            <label for="retailprice" class="col-form-label">Retail Price:</label>
                            <input type="text" class="form-control" id="retailprice" name="retailprice">
                        </div>
                        <div class="mb-3">
                            <label for="inventory" class="col-form-label">Inventory:</label>
                            <input type="number" class="form-control" id="inventory" name="inventory">
                        </div>
                        <div class="mb-3">

                            <label for="customFile" class="form-label">Product Picture</label>

                            <div class="col-auto">

                                <input class="form-control" type="file" class="custom-file-input"
                                    id="customFile">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div>
                                <div class="progress" style="display: none;">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="category" id="phone"
                                    value="phone">
                                <label class="form-check-label" for="option1">Phone</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="category" id="accessories"
                                    value="accessories">
                                <label class="form-check-label" for="option2">Accessories</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="resetModal('addproductForm')">Close</button>
                        <button type="submit" id="confirm_add_product" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete">Xóa khóa học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa khóa học ?  <strong class="id_course"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                        id="confirm_delete">Có</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
